body {
    font-family: 'Courier New', monospace;
    padding: 20px;
    background-color: rgb(200, 221, 245);

}

a:visited {
    color: black;
}

a:hover {
    background-color: aliceblue;
    color: darkblue;
}


.tabs {
    display:flex; 
    gap: 0px; 
}
.nav {
    background-color: white;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: bold;
    font-size: 20px;
    color: black; 
    border: 3px solid black;
    text-decoration: none; /* Removes the underline */
    
}
.tabs input[type="search"] {
    width: 30%;  
    height: 30px;

}

.item-box {
    margin: 0 auto; /* Center the content horizontally */
    background-color: white; 
    border: 3px solid black;
    overflow: scroll; 
    overflow-x: hidden; 
    height: 80vh;
}


.content-row {
    display: flex;
    gap: 30px;
    background-color: white;
    padding: 20px;
    height: calc(100% - 40px);  

}

img {
    width: 400px;
    height: auto;  
    object-fit: cover;  
    border: 1px solid #ddd;
    flex-shrink: 0;
}

.right-panel {
    display: flex;
    flex-direction: column;
    gap: 5px;
    flex-grow: 1;
}


.order-right-panel {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-grow: 1;
}

h2 {
    color: #1f4e2f;
    font-size: 20px;
}

label {
    font-weight: bold;
    margin-top: 10px;
    display: block;
}

input, textarea {
    padding: 8px;
    font-size: 14px;
    font-weight: bold; 
    font-family: 'Courier New', Courier, monospace; 
    border: 1px solid #ccc;
    resize: vertical;
}



button {
    padding: 13px 16px;
    background-color: #ccc; 
    border: solid 1px;
    cursor: pointer;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace; 
}

input[type="submit"] {
    padding: 9px 12px;
    border: solid 1px;
    cursor: pointer;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace; 
}

input[type="text"], input[type="number"]{
    font-family:'Courier New', Courier, monospace; 
}


input[type="submit"]:hover {
    background-color: rgb(200, 221, 245);
}


.link-row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;                                                
}

.scrollable-links {
    overflow: scroll; 
    overflow-x: hidden; 
    max-height: 60%;  
    padding: 10px 15px;
    border: 3px solid black;
}

.link-row a {
    flex-grow: 1;
    color: black;
    font-weight: bold; 
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    border: 1px solid #ccc;
}


button:hover {
    background-color: red;
}

.upload-image {
    border: 2px dashed #ccc; 
    padding: 30px; 
    display: flex;
    flex-direction: column; 
    justify-content: center;
    gap: 10px; 
    margin-top: 10px;
    text-align: center;
}

h2 {
    margin-bottom: 0px; 
}

.search-bar {
    flex-grow: 1;  
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
} 


.search-button:hover {
        background-color: aliceblue;
        color: darkblue;
    }
.submit-link {
    display: flex;
    width: 100%;
    gap: 10px;
    margin-top: 10px;
}

.submit-link input[type="text"] {
    flex-grow: 1;
    width: 100%;
    border: 3px solid black; 
    font-weight: bold; 
}


/* Individual item rows */
.item-changes {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    border: 3px solid black; 
    margin-left: 20px; 
    margin-right: 20px; 
}

.item-row {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #fff;
}

.item-row:hover{
    background-color: aliceblue;
    color: darkblue;
}

.item-row img {
    width: 50px;
    object-fit: cover;
    border: none;
}

.item-details {
    display: flex;
    flex-direction: column;   
}

/* Style for item subtitles */
.item-details label:first-of-type {
    font-size: 16px; 
    font-weight: bold;  
    color: #000;  
}

/* Style for the date part */
.item-details label:last-of-type {
    font-size: 13px;  
    font-weight: normal; 
    color: #555;  
}

/* search bar */
  form {
    padding: 8px;
    font-size: 14px;
}


hover {
    background-color: grey; 
}


/* scrollbar stuff */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: rgb(239, 239, 239);

}

::-webkit-scrollbar-thumb {
    background-color: rgb(206, 206, 206);

}

::-webkit-scrollbar-thumb:hover {
    background-color: rgb(152, 152, 152);
}
