#empty-container {
    background-color: rgb(155, 155, 155) !important;
}

/* all the shelves */
.shelf {
    display: grid;
    background-color: rgb(155, 155, 155);
    margin: 2.5vh;
    overflow: scroll;
    overflow-x: hidden;
    border: 3px solid black;

}

.shelf a {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.shelf div {
    /* box that the image is in */
    width: 7.5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.shelf img {
    /* makes sure the image isn't too tall */
    height: 40px;
}

.shelf p {
    font-size: 15px;
    text-align: center;
}

#low-stock {
    border: 2px solid red;
}

/* misc shelf (shelf-0) */
.misc-shelf {
    display: grid;
    background-color: rgb(155, 155, 155);
    margin: 2.5vh;
    overflow: scroll;
    overflow-x: hidden;
    border: 3px solid black;
    grid-template: repeat(5, 1fr) / repeat(10, 1fr);

    height: 80vh;
}

.misc-shelf a {
    overflow: hidden;
    background-color: white;
    min-height: 90px;
    border: 1px solid grey;

}



/* specific shelves */
.shelf .wide-container {
    grid-column-end: span 10;
}

.shelf .large-container {
    grid-row-end: span 4;
    grid-column-end: span 8;
    min-height: 120px;
}

.shelf .large-wide-container {
    grid-row-end: span 4;
    grid-column-end: span 16;
    min-height: 120px;
}

.back-shelf a {
    overflow: hidden;
    background-color: white;
    grid-column-end: span 5;
    grid-row-end: span 3;
    min-height: 90px;
    border: 1px solid grey;
    /* the columns are weird numbers because the boxes are weird sizes */

}

.left-shelf {
    /* sets the size of the grid */
    width: 50vh;
    height: 80vh;
    grid-template: repeat(34, 1fr) / repeat(20, 1fr);
    overflow-y: scroll;
}

.center-shelf {
    width: 100vh;
    height: 80vh;
    grid-template: repeat(34, 1fr) / repeat(40, 1fr);
    overflow-y: scroll;

}

.right-shelf {
    width: 50vh;
    height: 80vh;
    grid-template: repeat(34, 1fr) / repeat(20, 1fr);
    overflow-y: scroll;

}



/* storage in the front */
.blue-shelf {
    width: 100vh;
    height: 80vh;
    grid-template: repeat(8, 1fr) / repeat(8, 1fr);
}

.blue-shelf a {
    overflow: hidden;
    background-color: white;
    min-height: 90px;
    border: 1px solid grey;
}


.grey-shelf {
    width: 100vh;
    height: 80vh;
    grid-template: repeat(24, 1fr) / repeat(20, 1fr);
}

/* different sizes */
.shelf .grey-large-container {
    grid-row-end: span 6;
    grid-column-end: span 5;
}

.shelf .grey-largest-container {
    grid-row-end: span 6;
    grid-column-end: span 20;
}

.grey-shelf a {
    overflow: hidden;
    background-color: white;
    min-height: 90px;
    border: 1px solid grey;
    grid-row-end: span 4;
    grid-column-end: span 4;
}


/* on hover effects because they all have different levels of specificity */
.shelf a:hover {
    background-color: aliceblue;
    color: darkblue;
}

#low-stock:hover {
    background-color: rgb(255, 236, 236);
    color: rgb(90, 7, 24);
}

.grey-shelf a:hover {
    background-color: aliceblue;
    color: darkblue;
}